@mixin button__coloured-states($normal, $active) {

  &:hover {
    @extend .mdl-button:hover;
    background-color: $normal;
    &:not(:active) {
      @include shadow-2dp();
    }
  }

  &:focus {
    @extend .mdl-button:focus;
    background-color: $normal;
  }

  &:active {
    background-color: $active;
  }

  &.disabled,
  &[disabled] {
    background-color: $normal;
  }

  .mdl-ripple {
    background: lighten($normal, 20%);
  }
}

@mixin button__coloured-outline-states($normal, $active) {
  color: $normal;
  background-color: transparent;

  &:hover {
    @extend .mdl-button:hover;
    color: $normal;
    &:not(:active) {
      box-shadow: none;
    }
  }

  &:focus {
    @extend .mdl-button:focus;
    color: $normal;
  }

  &:active {
    color: $active;
  }

  &.disabled,
  &[disabled] {
    color: $normal;
  }

  .mdl-ripple {
    background: lighten($active, 20%);
  }
}

@mixin override-ionic-icon($class, $code-point, $fontOverride: true) {
  .#{$class}:before,
  {
    @if $fontOverride {
      font-family: 'Material Icons';
    }

    content: $code-point;
  }
}