/**
* Colours
*/
$light:                           #FAFAFA;
$stable:                          #F5F5F5;
$positive:                        #3F51B5;
$calm:                            #2196F3;
$balanced:                        #4CAF50;
$energized:                       #FFC107;
$assertive:                       #F44336;
$royal:                           #673AB7;
$dark:                            #212121;

/**
* Bars
*/

$bar-height: 56px;