@import "bower_components/ionic/scss/_mixins.scss";
@import "bower_components/material-design-lite/src/_mixins.scss";
@import "bower_components/material-design-lite/src/_color-definitions.scss";
@import "bower_components/ionic/scss/_variables.scss";
// Keep  Scaffolding above variables to ensure we don't override defaults for iOS
@import "bower_components/ionic/scss/_scaffolding.scss";
@import "variables";
@import "scaffolding";
@import "bower_components/ionic/scss/_button.scss";
@import "bower_components/material-design-lite/src/ripple/_ripple.scss";
@import "bower_components/material-design-lite/src/button/_button.scss";
@import "bower_components/ionic/scss/_list.scss";
@import "bower_components/ionic/scss/_items.scss";
@import "bower_components/material-design-lite/src/card/_card.scss";
@import "bower_components/ionic/scss/_items.scss";
@import "bower_components/material-design-lite/src/list/_list.scss";
@import "bower_components/ionic/scss/_bar.scss";
@import "bower_components/material-design-lite/src/layout/_layout.scss";
@import "mixin";
@import "button/button";
@import "bar/bar";
@import "list/card";
@import "list/item";
@import "ripple";
@import "icon/icons";

.platform-android, .platform-override {
  font-family: $preferred_font;
}