$material-arrow-up-b: "\e5c7";
$material-arrow-down-b: "\e5c5";
$material-chevron-up: "\e5ce";
$material-chevron-down: "\e5cf";
$material-chevron-right: "\e5cc";
$material-chevron-left: "\e5cb";
$material-navicon: "\e5d2";
$material-swap-horizontal: "\e8d4";
$material-shrink: "\e5d1";
$material-expand: "\e5d0";
$material-arrow-move: "\e89f";
$material-check-circle: "\e86c";
$material-checkmark: "\e5ca";
$material-close: "\e5cd";
$material-plus: "\e145";
$material-plus-circled: "\e147";
$material-plus-circled-outlined: "\e148";
$material-minus: "\e15b";
$material-minus-circled: "\e15c";
$material-minus-outlined: "\e15d";
$material-information: "\e88e";
$material-help: "\e887";
$material-help-outline: "\e8fd";
$material-backspace: "\e14a";
$material-alert: "\e002";
$material-alert-circled: "\e000";
$material-alert-circled-outline: "\e001";
$material-shuffle: "\e043";
$material-home: "\e88a";
$material-search: "\e8b6";
$material-flag: "\e153";
$material-star: "\e838";
$material-star-outline: "\e83a";
$material-star-half: "\e839";
$material-more: "\e5d3";
$material-grid: "\e5c3";
$material-calendar: "\e8a3";
$material-navigation: "\e55d";
$material-location: "\e55f";
$material-pin-drop: "\e55e";
$material-map: "\e55b";
$material-lock-closed: "\e898";
$material-lock-open: "\e899";
$material-chat-bubble: "\e0ca";
$material-chat-working: "\e0b7";