<ion-view view-title="Contacts">
    <ion-content>
        <ion-list can-swipe="true">
            <ion-item ui-sref="index" class="item-icon-left">
                <i class="icon ion-email"></i>
                Abby Christensen
            </ion-item>
            <ion-item ui-sref="index" class="item-avatar item-icon-right">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg">
                Alex Nelson
                <i class="icon ion-chatbubble"></i>
            </ion-item>
            <ion-item class="button-item-right item-avatar" no-ripple>
                <span class="item-content">
                    <img src="http://ionicframework.com/img/docs/mcfly.jpg">
                    Alex Nelson
                    <button class="button button-balanced show-ripple">call</button>
                </span>
            </ion-item>
            <ion-item ui-sref="index">Mary Johnson</ion-item>
            <ion-item>
                <span class="item-content">
                    <h1>Peter Carlsson</h1>
                    <p>Brunch this weekend?</p>
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>