<ion-view view-title="News">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">Breaking News</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item class="item-divider">News around the world</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 1</ion-item>
        </ion-list>
    </ion-content>
</ion-view>