<ion-view view-title="News Headlines">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">Breaking News</ion-item>
            <ion-item ui-sref="index" class="item-icon-left">
                <i class="icon ion-email"></i>
                Abby Christensen
            </ion-item>
            <!--<ion-item><i class="icon ion-email"></i>Item 1</ion-item>-->
            <ion-item ui-sref="index" class="item-avatar">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg">
                Alex Nelson
            </ion-item>
            <ion-item ui-sref="index">Mary Johnson</ion-item>
            <ion-item><span class="item-content">Peter Carlsson</span></ion-item>
            <!--<ion-item class="item-divider">News around the world</ion-item>-->
            <ion-item><span class="item-content">Item 1</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
        </ion-list>
    </ion-content>
</ion-view>