<ion-view view-title="News Headlines">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">Breaking News</ion-item>
            <ion-item><span class="item-content">Dinosaur captured by man in shorts</span></ion-item>
            <ion-item><span class="item-content">Space smells like farts</span></ion-item>
            <ion-item><span class="item-content">Man eats own head made out of chocolate</span></ion-item>
            <ion-item class="item-divider item-divider__full">News around the world</ion-item>
            <ion-item><span class="item-content">Things get weird in space</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
            <ion-item><span class="item-content">Item 1</span></ion-item>
        </ion-list>
    </ion-content>
</ion-view>