.platform-android, .platform-override {
  .popup-head {
    display: none;
  }

  .popup-buttons {
    text-align: right;
    display: block;

    button {
      &.button-positive,
      &.button-calm,
      &.button-assertive,
      &.button-balanced,
      &.button-energized,
      &.button-royal,
      &.button-dark {
        @extend .button-clear;
      }
    }
  }
}
